before_script:
  - "mysql -e 'create database sequelize_test;'"
  - "psql -c 'create database sequelize_test;' -U postgres"
  - npm install js2coffee@$(echo $JS2COFFEE)
  - npm install sequelize@$(echo $SEQUELIZE)

script:
  - travis_retry node_modules/.bin/gulp

notifications:
  irc:
    - "chat.freenode.net#sequelizejs"

env:
  - JS2COFFEE=0.3.5 DIALECT=mysql SEQUELIZE=1.7.10
  - JS2COFFEE=0.3.5 DIALECT=mysql SEQUELIZE=2.0.0-rc8
  - JS2COFFEE=0.3.5 DIALECT=mysql SEQUELIZE=2.1.3
  - JS2COFFEE=0.3.5 DIALECT=mysql SEQUELIZE=3.3.2
  - JS2COFFEE=0.3.5 DIALECT=sqlite SEQUELIZE=1.7.10
  - JS2COFFEE=0.3.5 DIALECT=sqlite SEQUELIZE=2.0.0-rc8
  - JS2COFFEE=0.3.5 DIALECT=sqlite SEQUELIZE=2.1.3
  - JS2COFFEE=0.3.5 DIALECT=sqlite SEQUELIZE=3.3.2
  - JS2COFFEE=2.0.0 DIALECT=mysql SEQUELIZE=1.7.10
  - JS2COFFEE=2.0.0 DIALECT=mysql SEQUELIZE=2.0.0-rc8
  - JS2COFFEE=2.0.0 DIALECT=mysql SEQUELIZE=2.1.3
  - JS2COFFEE=2.0.0 DIALECT=mysql SEQUELIZE=3.3.2
  - JS2COFFEE=2.0.0 DIALECT=sqlite SEQUELIZE=1.7.10
  - JS2COFFEE=2.0.0 DIALECT=sqlite SEQUELIZE=2.0.0-rc8
  - JS2COFFEE=2.0.0 DIALECT=sqlite SEQUELIZE=2.1.3
  - JS2COFFEE=2.0.0 DIALECT=sqlite SEQUELIZE=3.3.2

language: node_js

node_js:
  - "0.10"
  - "4.0"

sudo: false

addons:
  postgresql: "9.3"

cache:
  directories:
    - node_modules
