before_script:
  - "mysql -e 'create database sequelize_test;'"
  - "psql -c 'create database sequelize_test;' -U postgres"

script:
  - "node_modules/.bin/gulp"

notifications:
  irc:
    - "chat.freenode.net#sequelizejs"

env:
  - DIALECT=mysql
  - DIALECT=postgres
  - DIALECT=postgres-native
  - DIALECT=sqlite
  - DIALECT=mariadb

language: node_js

node_js:
  - "0.10"
