sudo: true
dist: trusty

language: node_js

jobs:
  include:
    - stage: test
      node_js: 6
      env: DIALECT=postgres SEQUELIZE=latest SEQ_PORT=54320
    - stage: test
      node_js: 6
      env: DIALECT=mysql SEQUELIZE=latest SEQ_PORT=33060
    - stage: test
      node_js: 6
      env: DIALECT=sqlite SEQUELIZE=latest

install:
  - npm install sequelize@$(echo $SEQUELIZE)
  - npm run build

before_script:
  - |-
    if [ "$DIALECT" = "postgres" ] || [ "$DIALECT" = "mysql" ]; then docker-compose up -d ${DIALECT}; fi
  - |-
    if [ "$DIALECT" = "postgres" ] || [ "$DIALECT" = "mysql" ]; then docker run --link ${DIALECT}:db -e CHECK_PORT=${SEQ_PORT::-1} -e CHECK_HOST=db --net cli_default giorgos/takis; fi

script:
  - npm run test
