sudo: true
dist: trusty

language: node_js

cache: yarn

jobs:
  include:
    - stage: test
      node_js: 6
      env: DIALECT=postgres SEQUELIZE=latest SEQ_PORT=54320
    - stage: test
      node_js: 6
      env: DIALECT=sqlite SEQUELIZE=latest
    - stage: test
      node_js: 6
      env: DIALECT=postgres SEQUELIZE=next SEQ_PORT=54320
    - stage: test
      node_js: 6
      env: DIALECT=sqlite SEQUELIZE=next

install:
  - npm install -g yarn
  - yarn
  - yarn add sequelize@$(echo $SEQUELIZE)
  - yarn build

before_script:
  - |-
    if [ "$DIALECT" = "postgres" ]; then docker-compose up -d postgres-10; fi
  - |-
    if [ "$DIALECT" = "postgres" ]; then docker run --link postgres-10:db -e CHECK_PORT=5432 -e CHECK_HOST=db --net cli_default giorgos/takis; fi

script:
  - yarn test
