before_script:
  - "mysql -e 'create database sequelize_test;'"
  - "psql -c 'create database sequelize_test;' -U postgres"
  - npm install js2coffee@$(echo $JS2COFFEE)

script:
  - "node_modules/.bin/gulp"

notifications:
  irc:
    - "chat.freenode.net#sequelizejs"

env:
  - JS2COFFEE=0.3.5 DIALECT=mysql
  - JS2COFFEE=2.0.0 DIALECT=mysql
  - JS2COFFEE=0.3.5 DIALECT=sqlite
  - JS2COFFEE=2.0.0 DIALECT=sqlite

language: node_js

node_js:
  - "0.10"

sudo: false

addons:
  postgresql: "9.3"

cache:
  directories:
    - node_modules
