name: CI
on: pull_request

jobs:
  test-postgres:
    strategy:
      fail-fast: false
      matrix:
        node-version: [10, 24]
        sequelize-version: [5, latest]
    name: Postgres (Node ${{ matrix.node-version }}, Sequelize ${{ matrix.sequelize-version }})
    runs-on: ubuntu-latest
    env:
      DIALECT: postgres
      SEQ_PORT: 54320
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: if [ "${{ matrix.node-version }}" = "10" ]; then npm install -g npm@7; fi
      - run: npm ci
      - run: npm install sequelize@${{ matrix.sequelize-version }}
      - run: docker compose up -d ${DIALECT}
      - run: docker run --link ${DIALECT}:db --net cli_default jwilder/dockerize -wait tcp://${DIALECT}:${SEQ_PORT::-1} -timeout 2m
      - run: npm test
  test-mysql:
    strategy:
      fail-fast: false
      matrix:
        node-version: [10, 24]
        sequelize-version: [5, latest]
    name: MySQL (Node ${{ matrix.node-version }}, Sequelize ${{ matrix.sequelize-version }})
    runs-on: ubuntu-latest
    env:
      DIALECT: mysql
      SEQ_PORT: 33060
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: if [ "${{ matrix.node-version }}" = "10" ]; then npm install -g npm@7; fi
      - run: npm ci
      - run: npm install sequelize@${{ matrix.sequelize-version }}
      - run: docker compose up -d ${DIALECT}
      - run: docker run --link ${DIALECT}:db --net cli_default jwilder/dockerize -wait tcp://${DIALECT}:${SEQ_PORT::-1} -timeout 2m
      - run: npm test
  test-sqlite:
    strategy:
      fail-fast: false
      matrix:
        node-version: [10, 24]
        sequelize-version: [5, latest]
    name: SQLite (Node ${{ matrix.node-version }}, Sequelize ${{ matrix.sequelize-version }})
    runs-on: ubuntu-latest
    env:
      DIALECT: sqlite
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: if [ "${{ matrix.node-version }}" = "10" ]; then npm install -g npm@7; fi
      - run: npm ci
      - run: npm install sequelize@${{ matrix.sequelize-version }}
      - run: npm test
